<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Location List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Location List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>X</th>
                <th>Y</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in data %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.loc_x }}</td>
                <td>{{ obj.loc_y }}</td>
                <td>{{ obj.description }}</td>
                <td>
                    <a href="/locations/delete/?nid={{ obj.id }}"> Delete </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/locations/add"> Add location </a>
</body>